[submodule "example/source/include/godot-cpp"]
	path = example/source/include/godot-cpp
	url = https://github.com/GodotNativeTools/godot-cpp.git
	branch = 3.2
[submodule "example/source/include/gdregistry"]
	path = example/source/include/gdregistry
	url = https://github.com/hlfstr/gdregistry.git
